/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*phone 360 X 500 computer thinks 360 pixles is 500px add 200px width*/
@media screen and (max-width:560px) and (max-height:500px){
	
	html > body > nav > div#navContainer > div#nav {
		display:flex;
		

	}
	html > body > nav > div#navContainer > div#nav > div.navBar{
		width:85%;
		height: 100%;
		background: black;
		
		justify-content: center;
		
		
	}
	
	html > body > nav > div#navContainer > div#nav > div.navBar > div.container{
		width:250px;
		height:70vh;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			box-sizing: border-box;
			align-items: center;
		  }
		  
		  html > body > nav > div#navContainer > div#nav > div.navBar > div.container > div.item {
			width: 80px;
			height: 34px;
			background: rgb(197, 184, 184);
			border: 1px solid black;
			
			margin: 20px;
			border-radius: 19%;
			justify-content: center;
			
			
			
			
		  }
		  html > body > nav > div#navContainer > div#nav > div.navBar > div.container > div.item > button.btn{
			  border-radius: 170%;
				background-color: greenyellow;
	
			  color:black;
			width: 100%;
			height: 100%;
			justify-content: center;
		}
	
	

	
	}
	


		


	




/*Desktop 1920 X 1080*/
@media screen and (max-width:2120px) and (max-height:1080px){
	
	#nav{
		display:flex;
		box-sizing: border-box;
		justify-content: center;
	
	}
	#nav .navBar{
		width:85%;
		height: 140px;
		background: black;
	}
	
		.container {
			display: flex;
			justify-content: flex-end;
		  }
		  
		  .container .item {
			width: 80px;
			height: 34px;
			background: red;
			border: 1px solid black;
			margin: 20px;
			border-radius: 19%;
			
		  }
		  button{
			  border-radius: 170%;
				background-color: greenyellow;
	
			  color:black;
			width: 100%;
			height: 100%;
			align-content: center;
		}
	
	

	
	}
	



