

*{
    max-width: 800px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    padding:20px;
    background: rgba(115,167,136,.8);
    margin-bottom: 20px;
}
header a{
    text-decoration: none;

}
.nav{
    text-decoration: none;
    text-shadow: royalblue;
}