/* Responsive */
.container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 20px 1.25%;
  }
  
  @media(max-width: 500px) {
    .container {
      background: gray;
    }
  
    .container header nav {
      display: flex;
      flex-direction: column;
    }
  
    .container header nav a {
      margin-bottom: 20px;
    }
  }

  nav {font-size: 12px;}
  h1 {font-size: 18px;}