
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MY CODE BELOW RESET*/

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: corbel;
}

h1 {
    display: flex;
    justify-content: center;
    color: #363636;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px;
    
}

nav {
    display: flex;
    justify-content: center;

}

nav a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.0rem;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0px;
    color: #4cd3c2

}

nav a:hover {
    background-color: #b7efcd;
    color: #363636;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #f19292;
}

div.info {
    display: flex;
    justify-content: center;
    margin: 50px;
    color: #363636;
    font-size: 1.0rem;
}

img {
    width: 100%;
    height: auto;
}


  .gallery {
    display: flex;
    margin: 0px;
    margin-top: 20px;
    
  }

  .gallery img {
      width: 300px;
      height: 700px;
    
  }

  #photo-1{
      margin: 0px;
  }
  
  #photo-2{
    margin-left: 20px;
  }
  
  #photo-3 {
      margin-left: 20px;
  }

  #photo-4 {
      margin-left: 20px;
  }

  .gallery .description {
    width: 175px;
    line-height: 40px;
    font-size: 1.0rem;
    color: #363636;
    margin: auto;
     
  }

  footer {
      display: flex;
      justify-content: center;

  }

  footer a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.0rem;
      text-decoration: none;
      padding: 10px 30px;
      margin: 0px;
      margin-top: 10px;
      color: #4cd3c2
  }

  footer a:hover {
        background-color: #b7efcd;
        color: #363636;
  }

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  
  nav a {
    display: flex;
    justify-content: center;
  }
  
  .gallery {
    flex-wrap: wrap-reverse;
    
  }
  
  footer {
    flex-direction: column;
  }
  
  footer a {
    display: flex;
    justify-content: center;
  }
}
    
@media (max-width: 800px) {
  
   .gallery {
     flex-wrap: wrap-reverse;
     justify-content: center;
    
  }
}

 