.wrapper {
    display: flex;
    justify-content: center;
    width: 98vw;
    height: 98vh;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0;
    background-color: lightpink;
}
header h1 {
    margin-bottom: 10px;
}
main {
    display: flex;
    height: 300px;
    background-color: lightpink;
}
.mainImg {
    width: 40%;
}
.mainContent {
    width: 100%;
    padding-left: 150px;
    padding-top: 150px;
}
/* main  div {
    border: solid black 1px;
    order: 2;
    flex-grow: 2;
    margin: 100px 100px 100px 100px;
  } */
section {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
}
.sectionTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sectionBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* #Tasnim {
  } */
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: lightpink;
    align-items: center;
}
#dog {
    height: 100%;
    width: 100%;
    padding-left: 40px;
}
.selfstart {
    align-items: self-start;
}
nav {
    margin: 0 10px;
    display: flex;
}
.button {
    border: 1px solid violet;
    background: violet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 125px;
    margin: 5px;
    padding: 5px 3px 5px;
    height: 25px;
    border-radius: 10px;
}
.button:hover {
    background: orange;
    color: black;
    box-shadow: 0 0 25px #000;
    padding: 7px 5px 7px;
}
h1 {
    margin: 0 10px;
}
.sectionImgWrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    border: solid orange 1px;
    background-color: violet;
    color: white;
    width: 125px;
    margin: 5px;
    padding: 5px 3px 5px;
    height: 25px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:bold;
}

.align {
    justify-content: space-between;
}

@media (max-width: 800px) 
{
  h1{
    text-align: center;
   
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  
  #dog {
    height: 200px;
    width: 300px;
    padding-left: 250px;
   
   }
  .mainContent {
    width: 700px;;
    padding-top: 20px;
    
}
  .mainContent h2 {
    padding-left: 150px;
  }
  .mainContent button {
    margin-left: 190px;
  }
 
  
  .mainImg {
    width: 100%;
    padding-top: 10px;
}
  main {
    display: flex;
    height: 400px;
    background-color: lightpink;
    flex-direction: column;
    
  }
  .sectionTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
}
  .sectionBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
}
  section {
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    justify-content: space-around;
}
  header {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: lightpink;
    padding-top: 40px;
}
  main button {
    margin-left: 45px;
  }
}

@media (max-width: 500px)
 {
  h1{
    text-align: center;
   
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  
  #dog {
    height: 200px;
    width: 300px;
    padding-left: 100px ;
   
   }
  .mainContent {
    width: 700px;;
    padding-top: 20px;
    
}
  .mainContent h2 {
    padding-left: 20px;
  }
   
    .mainContent button {
    margin-left: 70px;
  }
   .mainContent p {
     width: 250px;
     text-align: center;
   }
  
  .mainImg {
    width: 100%;
    padding-top: 10px;
}
  main {
    display: flex;
    height: 400px;
    background-color: lightpink;
    flex-direction: column;
    
  }
  .sectionTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
}
  .sectionBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
}
  section {
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    justify-content: space-around;
}
  header {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: lightpink;
    padding-top: 40px;
}
  
}



