html {
    font-size: 62.5%;
    background: url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-content {
    display: flex;
    justify-content: center;
}

.main-item {
    font-size: 7rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-items a { 
    display: flex;
    font-size: 2.4rem;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    padding: 10px 80px;
    color: rgb(0, 0, 0);
    
}

.middle-content {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.second-item {
    font-size: 4rem;
}

.para {
    text-align: center;
    font-size: 2.5rem;
}

.top-image {
    display: flex;
    justify-content: center;
}

.img {
    margin: 20px 0px 40px 0px;
}

.second-images, .third-images {
    display: flex;
    justify-content: center;
}

.imgs, .imgs2 {
    width: 500px;
    margin: 10px;
}

.second-para {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 80px;
    margin: 0px 25%;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 184, 209);
}

.contact {
    padding: 10px 30px;
    background-color: rgb(190, 214, 218);
    border: 2px solid rgb(4, 51, 121);
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:800px) {
    .para {
        font-size: 2rem;
    }
    
    .img {
        width: 600px;
    }

    .imgs, .imgs2 {
        width: 300px;
        margin: 10px;
    }

    .second-para {
        font-size: 2rem;
    }
}

@media (max-width:500px) {
    .nav-items a {
        font-size: 2rem;
    }
    
    .para {
        font-size: 1.5rem;
        padding: 20px;
    }
    
    .img {
        width: 300px;
    }

    .imgs, .imgs2 {
        width: 150px;
        margin: 10px;
    }

    .second-para {
        font-size: 1.5rem;
        padding: 0px 5px;
    }
    
    .contact {
        font-size: 1rem;
    }
}