html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
    background-image: url(https://wallpaperplay.com/walls/full/6/e/e/379673.jpg);
    color: white;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

*{
  border: white solid 1p;
}

a{
  color: black;
}

header{
  border-bottom: solid red 1px
}

h1{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-family:'Brush Script Mt';
    text-shadow: red 5px 4px;
    font-size: 3rem;
}

  h2{
    color: red;
    margin: 3rem;
    font-size: 4rem;
  }

button{
  border:black solid 4px;
  background-color: red;
  padding:15px 32px;
  display: flex;
  flex-direction: row;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;
  height: 2rem;
}

div .top{
  display: flex;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 4;
  
}
.selfie{
  display: flex;
  justify-content: center;
}

.selfieBackground{
  background-image: url(https://scontent.fewr1-5.fna.fbcdn.net/v/t1.0-9/99557618_579527962947116_8086526277009276928_n.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_oc=AQmYJ1bYw5f-mLaLVUJ13zoxC4D5ivaRTeeoqnYlOanvtVquqOfdB8LxyyZdjCxrdvQ&_nc_ht=scontent.fewr1-5.fna&oh=5f717fc97ac9748313f2ee0cd7712b3a&oe=5F0197DC);
  background-repeat: no-repeat;
  height: 40em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#selfieButton{
  background-color: transparent;
  font-size: xx-large;
}

#selfieButton:hover{
  background-color: red;
}

#selfieButton:hover a{
  color: black;
}

.selfieBackground{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.h1{
  width:40%;
}

.middlePics{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.row1{
  display: flex;
  flex-wrap: nowrap;
  align-content: space-evenly;
}

#pic1{
  max-width: 30%;
  padding:2rem
}

#pic2{
  max-width: 30%;
  padding: 2rem;
}

#pic3{
  max-width: 30%;
  padding:2rem
}

.row2{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#pic4{
  max-width: 30%;
  padding:2rem
}

#pic5{
  max-width: 30%;
  padding: 2rem;
}

#pic6{
  max-width: 30%;
  padding:2rem
}

.footer{
  display: flex;
  justify-content: center;
}

footer{
  background-color: rgb(61, 61, 61);
  padding: 1rem;
}

@media(max-width: 800px){
  *{
    border: solid white 1px;
  }

  .topBar{
    display: flex;
    flex-direction: column;
  }

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header{
    display: flex;
    flex-direction: column;
  }

  .row1{
    max-width: 50%;
  }
  .row2{
    max-width: 50%;
  }

  .middlePics{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pic1, .pic2, .pic3, .pic4, .pic5, .pic6{
    background-color:pink;
    width:;
  }
  .row1, .row2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: ;
  }

}