/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
}

body {
    background-image: url('https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    height: 90vh;
}

.topContent {
    height: 17vh;
    background-color: antiquewhite;
}

.topContent h1 {
    font-size: 4rem;
    margin: 0 1%;
}

nav {
    margin: 1% 2.8%;
    display: flex;
}

a:first-child {
    background-color: black;
    color:white;
}
a:first-child:hover {
    color: white;
}

nav a {
    border: 1px solid black;
    font-size: 1.6rem;
    width: 7%;
    text-align: center;
    color:black;
    padding:0.4%;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    color:black;
}

.title {
    width: 98%;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
}
.middleSectionTop {
    display:flex;
    justify-content: space-between;
    width: 85%;
    margin: 1%;
}

.middleSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
    font-size: 1.3rem;
}

.middleSectionText h3 {
    padding: 1% 0;
}

.middleSectionText button {
    width: 9%;
}

.middleSectionText p {
    padding: 1% 0;
    width: 40%;
}

.middleSectionTop img {
    width: 20%;
}

.middleSectionBottom img {
    width: 100%;
    margin: 2%;
}

.bottomContent {
    display: flex;
    flex-wrap: wrap;
}

.seee {
    width: 21%;
    margin: 0 2%;
}

.seee p {
    text-align: center;
}

footer {
    padding:4% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

footer p {
    font-size: 2rem;
}

footer button {
    width:8%;
    margin-left: 1%;
    margin-top: 1%;
}

/* contact html */
form {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 10% auto;
}

input {
    margin-bottom: 12%;
    padding: 1% 0;
}

form button {
    width:25%;
    padding: 4% 0;
    margin: 5% auto;
}

/* about html */
.aboutP {
    width: 60%;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    margin: 15%;
}

/* Tablet */
@media (max-width: 800px) {
   .topContent {
       width: 99%;
       margin: 0 1%;
   }
   nav {
       width: 94%;
   }
   nav a {
       font-size: 1.2rem;
   }

   .middleSectionText button {
    width: 17%;
}

.middleSectionText p {
    width: 60%;
}
.middleSectionBottom {
       width: 97%;
}

footer button {
    width: 11%;
    margin: 1% 4%;
}

}

/* Phone */
@media (max-width: 500px) {
    body {
        background-image: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 18%;
    }

    nav a {
        width: 95%;
        font-size: 1.3rem;
    }
    .toNavInfo h1 {
        font-size:4rem;
        width: 100%;
    }

    .title h4 {
        display: none; 
    }
    
    .topContent{
        display:flex;
        flex-direction: column;
        height: 20vh;
        align-items: center;
        justify-content: center;
    }
    .middleSection{
        width: 90%;
        margin: 0 10%;
    }
    .middleSectionTop{
        flex-direction: column;
        align-items: center;
        margin:2% 0;
    }

   .middleSectionTop img {
        width: 80%;
    }
    
    .middleSectionText {
        align-items: center; 
    }

    .middleSectionText h3 {
        font-size: 1.8rem;
        margin: 2% 0;
    }

    .middleSectionText button {
        width: 22%;
        font-size: 1.3rem;
    }

    .middleSectionText p {
        width:80%;
        margin: 1%;
    }

    .seee {
        width: 40%;
        margin: 1% 3%;
    }

    footer {
        background-color: antiquewhite;
    }
    footer button {
        width: 14%;
        margin: 2% 7%;
    }



}