* {
  /* outline: 1px solid cyan; */
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

header {
  text-align: center;
}

header > nav > a {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

header > section {
  max-width: 800px;
  margin: 2rem auto;
}

section.banner {
  background-image: url(https://picsum.photos/id/1002/1200);
  height: 500px;
  background-size: cover;
  margin: 1rem 0;
}
/************* section.flex **************/
section.flex {
  display: flex;
  height: 500px;
}

section.flex > div {
  flex: 0 0 20%;
}

section.flex img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}

section.flex > div:last-child {
  display: flex;
  background: none;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 600px){
  section.flex{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  section.flex > div {
    height: 100vh;
    margin-bottom: 5%;
  }
  div.extra-projects {
    display: none;
  }
}
/***************** end section.flex ***************/
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

footer a {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

footer div.social {
  flex: 100%;
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}

footer div.social i {
  margin: 0.5rem;
}
