/* reset css */
 span, applet, object, iframe,  
 h3, h4, h5, h6, blockquote, pre,  
 abbr, acronym, address, big, cite, code,  
del, dfn, em,  ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, 
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, hgroup,  
menu, output, ruby, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 62.5%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset */
article, aside, details, figcaption, 
figure, hgroup, menu {
    display: block;
}

/* Desktops */
@media(min-width:800px){
    /* Add CSS styling here */
    b{
        font-size:2rem;
        font-weight:700;
    }

nav{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}
.nav{
    margin:11px;
    border: 2px solid black;
    width:94vw;
    height:20vh;
    background: rgb(5,4,77);
background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
rgba(9,9,121,1) 21%, 
rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
 rgba(2,0,36,1) 89%);
   
}
h1{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
    color: white;
    font: 4.5rem Georgia, serif;
}
h2{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0em 0 0em blue;
    color: white;
    font: 3rem Georgia, serif;
    margin-left: 12px;
   display: flex;
    align-items: center; 
}
h2.navK{
    text-align: left;
    width:100%;
    justify-self: flex-start;
}
nav > button.navK{
    
    justify-self: flex-end;
}
button.navK{
   
    box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
    background-color: black;
    text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
    color: orange;
    font-family:Arial, serif;
    font-size:2rem;
    margin:12px;
}
button.navK:hover{
    box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
    background-color: green;
    text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
    color: orange;
    font-size:2rem;
    font-family:Arial, serif; 
    margin:12px;
}
header{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:98%;
    height: 80vh;
    background: rgb(164,170,175);
background: linear-gradient(5deg, rgba(164,170,175,1) 
0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
 rgba(0,212,255,1) 100%, rgba(121,28,9,0.9684222565979517) 100%);

    margin:1px;
}
header > div.bHead{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    width:88%;
    height: 36vh;
    background: rgb(5,4,77);
background: linear-gradient(5deg, rgba(5,4,77,1) 1%,
 rgba(121,28,9,0.9684222565979517) 52%,
 rgba(5,103,183,1) 88%, rgba(0,212,255,1) 97%,
  rgba(2,0,36,1) 100%);

    margin:10px;

}
a{
    color:inherit;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:inherit;
}
a:after{
    color:inherit;
    text-decoration: none;
}
button.K:hover{
    font-weight: 600;
    color:black;
    background: green;

}
button.K{
    font-style:Arial, serif;
    text-shadow: 1px 1px 12px blue, 10em 10em 11em black, 0em 0em 0em blue;
    font-size:2rem;
    font-weight: 600;
    color:black;
    background: rgb(203,118,38);
background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
 rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
}
.K{
    color:black;
    align-self:center;
    width:15rem;
    height: 6rem;
}

section.middle-sec{
    display:flex;
    justify-content: space-evenly;
}
section{
    width:98%;
    height:100%;
}


.projCon{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.projectBoxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:1px;
    background-color: antiquewhite;
    width: 22rem;
    height: 24rem;
}
div.projectBoxes > img {
   
    object-fit: contain;
    width:50%; height:50%;
    /* Any custom height */
}

footer > nav{
    display: flex;
    justify-content: center;
}
footer > p{

    visibility: hidden;
}
}


/* End Desktops*/


/**************
        *** Option 2
         Tablets and smaller 
         ***************************/
@media(max-width:800px){

/* Add Mobile  styling here */


header{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:98%;
    height: 100%;
    background: rgb(164,170,175);
background: linear-gradient(5deg, rgba(164,170,175,1) 
0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
 rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);

    margin:1px;
}


nav{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
.nav{
    margin:11px;
    border: 2px solid black;
    width:94%;
    height:100%;
    background: rgb(5,4,77);
background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
rgba(9,9,121,1) 21%, 
rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
 rgba(2,0,36,1) 89%);
   
}
h1{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
    color: white;
    font: 3.5em Georgia, serif;
}
h2{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0em 0 0em blue;
    color: white;
    font: 2.5em Georgia, serif;
    margin-left: 2px;
}
h2.navK{
    text-align: center;
    width:100%;
}
nav > button.navK{
    
    justify-self: flex-end;
}

button.navK{
    box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
    background-color: black;
    text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
    color: orange;
    font-size:3rem;
    font-style:Arial, serif;
    margin:12px;
}
button.navK:hover{
    box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
    background-color: green;
    text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
    color: red;
    font-size:3rem;
    margin:12px;
}


a{
    color:inherit;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:inherit;
}
a:after{
    color:inherit;
    text-decoration: none;
}

/* The bottom part of header */

header > div.bHead{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    width:88%;
    height: 100%;
    background: rgb(5,4,77);
background: linear-gradient(5deg, rgba(5,4,77,1) 1%,
 rgba(121,28,9,0.9684222565979517) 52%,
 rgba(5,103,183,1) 88%, rgba(0,212,255,1) 97%,
  rgba(2,0,36,1) 100%);

    margin:10px;

}

button.K:hover{
    font-size:2rem;
    font-weight: 600;
    color:red;
    background: green;

}
button.K{
    font-size:2rem;
    font-weight: 600;
    color:black;
    background: rgb(203,118,38);
background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
 rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
}
.K{
    color:black;
    align-self:center;
    width:60%;
    height: 6rem;
}





/*  Middle section*/
section.middle-sec{
    display:flex;
    justify-content: space-evenly;
}
section{
    width:98%;
    height:100%;
}

.projCon{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}
 div.projectBoxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin:1px;
        background-color: grey;
        width: 16rem;
        height: 24rem;
    }
    div.projectBoxes > img {
       
        object-fit: contain;
        width:50%; height:50%;
        /* Any custom height */
    }
    



/* The footer*/
footer > nav{
    display: flex;
    justify-content: center;
}
footer > p{

    visibility: hidden;
}


@media(max-height:500px){

    /* Add Mobile  styling here */
    
    
    header{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:98%;
        height: 100%;
        background: rgb(164,170,175);
    background: linear-gradient(5deg, rgba(164,170,175,1) 
    0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
     rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);
    
        margin:1px;
    }
    
    
    nav{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
    .nav{
        margin:11px;
        border: 2px solid black;
        width:94%;
        height:100%;
        background: rgb(5,4,77);
    background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
    rgba(9,9,121,1) 21%, 
    rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
     rgba(2,0,36,1) 89%);
       
    }
    h1{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
        color: white;
        font: 3.5em Georgia, serif;
    }
    h2{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0em 0 0em blue;
        color: white;
        font: 2.5em Georgia, serif;
        margin-left: 2px;
    }
    h2.navK{
        text-align: center;
        width:100%;
    }
    nav > button.navK{
        
        justify-self: flex-end;
    }
    
    button.navK{
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: black;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: orange;
        font-size:3rem;
        font-style:Arial, serif;
        margin:12px;
    }
    button.navK:hover{
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: green;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: red;
        font-size:3rem;
        margin:12px;
    }
    
    
    a{
        color:inherit;
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
        color:inherit;
    }
    a:after{
        color:inherit;
        text-decoration: none;
    }
    
    /* The bottom part of header */
    
    header > div.bHead{
        display: flex;
        text-align:center;
        flex-direction: column;
        justify-content: center;
        width:88%;
        height: 100%;
        background: rgb(5,4,77);
    background: linear-gradient(5deg, rgba(5,4,77,1) 1%,
     rgba(121,28,9,0.9684222565979517) 52%,
     rgba(5,103,183,1) 88%, rgba(0,212,255,1) 97%,
      rgba(2,0,36,1) 100%);
    
        margin:10px;
    
    }
    
    button.K:hover{
        font-size:2rem;
        font-weight: 600;
        color:red;
        background: green;
    
    }
    button.K{
        font-size:2rem;
        font-weight: 600;
        color:black;
        background: rgb(203,118,38);
    background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
     rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
    }
    .K{
        color:black;
        align-self:center;
        width:60%;
        height: 6rem;
    }
    
    
    
    
    
    /*  Middle section*/
    section.middle-sec{
        display:flex;
        justify-content: space-evenly;
    }
    section{
        width:98%;
        height:100%;
    }
    
    .projCon{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
   


    div.projectBoxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin:1px;
        background-color: grey;
        width: 16rem;
        height: 24rem;
    }
    div.projectBoxes > img {
       
        object-fit: contain;
        width:50%; height:50%;
        /* Any custom height */
    }
    
    
    
    
    /* The footer*/
    footer > nav{
        display: flex;
        justify-content: center;
    }
    
    footer > p{

        visibility: hidden;
    }
    
    }





}   /* End max-width 800px & max-height: 500px*/



/*****
      - [ ]  iPhone: 360×640
  - [ ]  Laptop: 1366×768
  - [ ]  Widescreen: 1920×1080
        End max-width:800px and max-height 500px 
                        ****/


/*****
** If text can't fit in the project description boxes 
    look for grey or the background color and increase the box size
        Stretch 1366px X 768px
        min width 800 & max height 650 or 500
                **********/

@media(max-height:650px){
    b{
        text-justify: center;
        text-align:center;
        font-weight: 900;
        font-size:1rem;
    }
    @media(min-width:800px){

       footer > p{
           font-weight:700;
           font-size:2rem;
           text-align: center;
           text-justify: center;
       }

    /* Add Mobile  styling here */
    
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:98%;
        height: 70em;
        background: rgb(164,170,175);
    background: linear-gradient(5deg, rgba(164,170,175,1) 
    0%, rgba(162,161,167,1) 78%, rgba(5,4,77,1) 99%,
     rgb(98, 131, 138) 100%, rgba(121,28,9,0.9684222565979517) 100%);
    
        margin:1px;
    }
    
    
    nav{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
    .nav{
        margin:11px;
        border: 2px solid black;
        width:94%;
        height:100%;
        background: rgb(5,4,77);
    background: linear-gradient(90deg, rgba(5,4,77,1) 1%, 
    rgba(9,9,121,1) 21%, 
    rgba(0,212,255,1) 53%, rgba(5,103,183,1) 65%,
     rgba(2,0,36,1) 89%);
       
    }
    h1{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0em blue;
        color: white;
        font: 3.5em Georgia, serif;
    }
    h2{
        text-shadow: 1px 1px 2px black, 0 0 1em blue, 0em 0 0em blue;
        color: white;
        font: 2.5em Georgia, serif;
        margin-left: 40%;
    }
    h2.navK{
        width:100%;
        text-align: center;

    }
    nav > button.navK{
        
        justify-self: flex-end;
    }
    
    button.navK{
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: black;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: orange;
        font-size:3rem;
        font-style:Arial, serif;
        margin:12px;
    }
    button.navK:hover{
        box-shadow: 2px 3px 8px red, 10em 10em 11em red ;
        background-color: green;
        text-shadow: 1px 1px 12px blue, 10em 10em 11em red, 0em 0em 0em blue;
        color: red;
        font-size:3rem;
        margin:12px;
    }
    
    
    a{
        color:inherit;
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
        color:inherit;
    }
    a:after{
        color:inherit;
        text-decoration: none;
    }
    
    /* The bottom part of header */
    /* Todo Fade in and out with different project photos */
    body > header > div#bHead{
        display:flex;
    flex-wrap: wrap;
    justify-content: center;
        width: 90%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        background-image: url('/assets/proj1.png');
    }


  body >  header > div.bHead{
        display: flex;
        text-align:center;
        flex-direction: column;
        justify-content: center;
        width:88%;
        height: 100%;
        background: rgb(5,4,77);
    background: linear-gradient(5deg, rgba(5,4,77,1) 1%,
     rgba(121,28,9,0.9684222565979517) 52%,
     rgba(5,103,183,1) 88%, rgba(0,212,255,1) 97%,
      rgba(2,0,36,1) 100%);
    
        margin:10px;
    
    }
    
    button.K:hover{
        font-size:2rem;
        font-weight: 600;
        color:red;
        background: green;
    
    }
    button.K{
        font-size:2rem;
        font-weight: 600;
        color:black;
        background: rgb(203,118,38);
    background: linear-gradient(5deg, rgba(203,118,38,1) 0%,
     rgba(137,173,92,1) 34%, rgba(180,57,32,0.9022852793461135) 100%);
    }
    .K{
        color:black;
        align-self:center;
        width:60%;
        height: 6rem;
    }
    
    
    
    
    
    /*  Middle section*/
    section.middle-sec{
        display:flex;
        justify-content: space-evenly;
    }
    section{
        width:98%;
        height:100%;
    }
    
    .projCon{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
    div.projectBoxes{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin:1px;
        background-color: grey;
        width: 40%;
        height: 24rem;
    }
    div.projectBoxes > img {
       
        object-fit: contain;
        width:50%; height:50%;
        /* Any custom height */
    }
    
    
    /* The footer*/
    footer > nav{
        display: flex;
        justify-content: center;
    }
    
    
    
    }

}  /*End max-height 650 min-width: 800 */


