/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* RESET IS ABOVE */

/* BODY AND HTML STYLING */
html {
    font-size:62.5%;
    scroll-behavior: smooth !important;
}

body {
    margin:0 20rem;
    background-color:#212529;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: 1px 0px 50px 50px #000000; 
    box-shadow: 1px 0px 50px 50px #000000;
    font-family: 'Poiret One', cursive;
    letter-spacing: .75rem;

}

h1 {
    font-size:6rem;
}


/* HEADER STYLING BELOW */


header{
    line-height:5rem;
    margin-bottom:20rem;
}

.headerNav {
    margin-bottom:5rem;
}
.headingName {
    color:white;
}

#navBarTop {
    margin-top:7rem;
    display:flex;
    justify-content: center;
}

#navBarTop li {
    list-style-type: none;
    margin-top:2rem;
}

#navBarTop a {
    color:#F8F9FA;
    background:#212529;
    opacity:80%;
    font-size: 3.5rem;
    text-decoration: none;
    padding:0 3rem;
    transition: .5s;
}

#navBarTop li a:hover{
    background-color:#F8F9FA;
    color: #212529;
    opacity:80%;
    margin:0 3rem;
}
#navBarTop li:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition:.5s;

}

/* .headerImageFlexContainer {
    display:flex;
    height:38vw;
} */

.headerContainer {
    display:flex;
    flex-direction: column;
    height:auto;
    background-color:#212529;
    margin:0 10%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(229,229,229,0.6); 
    box-shadow: 5px 5px 15px 5px rgba(229,229,229,0.6);
}

.headerContainer p {
    text-align:center;
    color:#F8F9FA;
    font-size:2rem;
    margin:6rem 0;

}

p.headP1 {
    font-size:6rem;
    line-height: 10rem;
    border-bottom:solid whitesmoke 1px;
    margin:0 5rem;
}

p.headP2 {
    line-height: 6rem;
    margin:8rem 20rem;
}



/* ABOUT ME STYLING BELOW */

.about {
    display:flex;
    justify-content: space-evenly;
    color:whitesmoke;
}

.about p {
    border-top:solid 1px white;
    border-left:solid 1px white;
    text-align:center;
}

.aboutHeaderContainer {
    font-size:2rem;
    width:500px;
    /* height:auto; */
    background-color: #212529;
    opacity:.8;
    margin:auto 0;
    /* height:20vw; */
    /* margin:auto 0; */
}

.about .aboutImage img {
    margin:10rem 0;
    border-radius: 3%;
}

/* PROJECTS STYLING BELOW */

/* #projects {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

/* .projects a {
    text-decoration: none;
} */

.projects h1 { 
    border-bottom:1px solid whitesmoke; 
    border-right:1px solid whitesmoke;
    margin:0 auto;
    text-align: center;
    color:whitesmoke;
    width:25%;
}

.project1, .project2, .project3 {
    display:flex;
    /* justify-content: space-around; */
    font-size:3rem;
    color:white;
    margin:6rem;
}

.project1, .project3 {
    flex-direction: row-reverse;
}

.project2 {
    flex-direction: row;
}

.projects img {
    margin: 0 3rem;
    border-radius: 3%;
}

.projects a {
    font-size:2rem;
    margin-bottom:1rem;
    color:white;
}




/* FOOTER STYLING BELOW */

footer {
    text-align:center;
    margin-top:5rem;
    margin-bottom:7rem;
}

footer nav a {
    font-size: 3.5rem;
    text-decoration: none;
    border:solid black 1px;
    padding:0 3rem;
}

.navBarBottom {
    justify-content: flex-end;
    margin-top: 2rem;
}

.navBarBottom a {
    /* color:#b5d6e6; */
    background:#2f5161;
}

.fab {
    font-size:5rem;
    color:#6ebce0;
    margin-bottom:5rem;
    text-align: center;
    margin:0 3rem 5rem;
}

/* MEDIA QUERIES BELOW */
/*  */


@media only screen and (max-width: 1100px) 
{  
    body {
        margin:4rem 4rem;
        padding:0rem;
        -webkit-box-shadow: 1px 0px 25px 25px #000000; 
        box-shadow: 1px 0px 25px 25px #000000;
    }

    nav {
        flex-direction: row;
        text-align:center;
    }
    header {
        margin-bottom:5rem;
    }

    #navBarTop {
        margin:0;
    }

    img {
        width:50%;
        height:auto;
    }

    nav li {
        font-size:1rem;
    }
    
    p.headP1 {
        font-size:3rem;
        line-height:4rem;
        font-weight:bold;
        padding:1rem;
    }
    
    p.headP2 {
        font-size:2rem;
        margin:1rem 4rem;
        line-height:3rem;
        padding-bottom:2rem;

    }
    
    section.aboutHeaderContainer {
        width:100%;
        text-align:center;
        margin-bottom:5rem;
    }

    section.aboutHeaderContainer p {
        margin:0 auto;
    }

    .mediaQueryContainer {
        display:flex;
        flex-direction: column;
    }
    
/* ABOUT ME STYLING BELOW */

    .about {
        display:block;
        margin:0;
    }

    .about p {
        width:65%;
        font-size:2rem;
    }

    .about img {
        display:none;
    }

/* PROJECTS STYLING BELOW */



.projectsH1 {
    font-size:2.5rem;
    padding:2rem 2rem;
}
.projects {
    margin-top:10rem;
    text-align:center;
}

.project1, .project2, .project3 {
    /* font-size:2rem;
    width:80%;
    margin:0 auto;
    border-bottom:white dotted 1px;
    margin:1rem auto; */
    display:flex;
    justify-content: space-evenly;
    font-size:2rem;
}

#projects .item {
    margin:0 auto;
}

#projects img {
    margin:0 auto;
    display:none;
}

.project1 .caption, .project2 .caption, .project3 .caption {
    margin-bottom:2rem;
}
}


@media only screen and (max-width: 500px) {

    body {
        margin: 0;
        display:flex;
        flex-direction: column;
    }

    #navBarTop {
        flex-direction: column;
    }


}