/* Global */
a {
  text-decoration: none;
}
a:visited{
  color:black;
text-decoration: none;
}
/* The marque*/
body > #title{
    display:block;
  box-sizing: border-box;

  width:100%;
  height:4rem;

 
   
}
marquee{
    
  font-size:8rem;
  background-color: blue;
}

div > h1{
    
    display:block;
    box-sizing: border-box;
    text-align:left;
    font-size:3rem;
/*     background: -webkit-linear-gradient(rgb(145, 26, 168), rgb(32, 20, 206));
-webkit-background-clip: text;
background-clip: border-box;
-webkit-text-fill-color:forestgreen;
    text-align: left;
    */
     
    }



  

    h2{
      text-align: center;
    }
    p{
      text-align: center;
      margin: 2rem; 
    }
  div img{
    margin:.1rem .2rem .1rem .2rem;
   

  }



/* Ends global*/
/*Top part of the page */



.container {
  box-shadow: .1rem .1rem  .3rem  blue;
  border: .06rem solid black;
  margin: 1.4rem ;
  margin-top: 0rem;
  height: 14rem;
  background: linear-gradient(
    to bottom, 
    #11e1f0d2 5%, 
    #cf4523 50%, 
    #dd1922 50%, 
    #ad0d1a 100%
  );
  

}
/* raindbow background square*/
.container div {
  height: 4rem;
  width: 9rem; /* originally 200 px width & 40px height*/
}


@media screen and (min-width: 1200px){


  /* Makes space between name and button bar*/
  div.container.container-1 > div#blank{
        
 /* 
  margin:.7rem .4rem 0rem .7rem;
width:100%;
height:6vh;  Is moving the h1 tag up and down*/
  
margin:.7rem .4rem 0rem .7rem;
width:100%;
height:6vh; /* Is moving the h1 tag up and down*/
}
}

/* The navigation settings for Desktop*/
@media screen and (max-width: 1200px){


  /* Makes space between name and button bar*/
  div.container.container-1 > div#blank{
          
    display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;


  margin:3.5rem 2.5rem 0rem 0rem;
  }

}

/* The navigation settings for Laptops*/
@media screen and (max-width: 930px){


  /* Makes space between name and button bar*/
 body > div.container.container-1 > div#blank > h1.hr{
          
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  margin:.5rem .5rem .5rem .5rem;
  font-size:2rem;
  }

}
/* The navigation settings for Tablets & Phones Diagonal all the way down */
@media screen and (max-width: 660px){



  
  .container {
    border: .1rem solid black;
    margin: 0vh 0vw;
    width:100%;
    height:100%;
    background: linear-gradient(
      to bottom, 
      #11e1f0d2 5%, 
      #cf4523 50%, 
      #dd1922 50%, 
      #ad0d1a 100%
    );
    
  
  }
  /* raindbow background square*/
  .container div {
    padding:.3rem;
    margin:.5rem;
    height: 15vh;
    width: 70vw;
  }


        body > div.container{
          display:flex;
          flex-direction:column;
          justify-content: center;
          align-items:center;
        }
        /* Button bars area*/
        body > div.container.container-1 {
          width:100%;
          height:20%;
        }
        /* h1s area*/
        body > div.container.container-1 > div#blank {
          width:100%;
          height:20%;
        }
        /* Makes space between name and button bar*/
      body > div.container.container-1 > div#blank > h1.hr{
      
        margin:.5rem .5rem .5rem 2.5rem;
        font-size:4.5rem;
        
        }

      /*Defaults on the outside*/

        .container-1 {
          display:flex;
          flex-direction:row;
          justify-content: center;
          align-items:center;
        }


        
        
        .item-1 {
          font-size: 4rem;
            text-align: center;
            background: linear-gradient(
              to bottom, 
              #3abfe7 0%, 
              #cf2365 50%, 
              #c92096 50%, 
              #b6701e 100%
            );
        }
        
        html > body> div.container.container-1 > div.item-1 > button.btng:hover{
          height:85%;
          width: 85%;
          background: linear-gradient(
                to bottom, 
                #87f10cd2 5%, 
              #05f805 50%, 
              #0ddb0d 50%, 
              #0aec83 100%
              );
          
        }
        
        
        /* the actual button */
        
        html > body> div.container.container-1 > div.item-1 button{
          height:80%;
          width: 80%;
            background: linear-gradient(
                  to bottom, 
                  #d3d33e 0%, 
                  #af671f 50%, 
                  #b6701e 50%, 
                  #b6701e 100%
                );
          }

          html > body> div.container.container-1 > div.item-1 button > a{
            height:100%;
            width: 100%;
            font-size:3rem;
              background: linear-gradient(
                    to bottom, 
                    #d3d33e 0%, 
                    #af671f 50%, 
                    #b6701e 50%, 
                    #b6701e 100%
                  );
  
              
            }
        
        


}/* End @media phone 600*/
    /* End breakpoints */

    @media screen and (max-width: 616px){
      body > div.container.container-1 > div#blank > h1.hr{
      
        margin:.5rem .5rem .5rem 2.5rem;
        font-size:4.5rem;
        text-align: center;
        
        }
      

    }





    /* The navigation settings for Tablets & Phones Diagonal all the way down to a smaller size */
/* 500px X 490px*/
    @media screen and (max-width: 500px){


  .container {
    border: .1rem solid black;
    margin: 0vh 0vw;
    width:100%;
    height:100%;
    background: linear-gradient(
      to bottom, 
      #11e1f0d2 5%, 
      #cf4523 50%, 
      #dd1922 50%, 
      #ad0d1a 100%
    );
    
  
  }
}

  @media screen and (max-height: 490px){

    /* Makes space between name and button bar*/
   html> body > div.container.container-1 > div#blank > h1.hr{
      
      margin:.5rem .5rem .5rem 2.5rem;
      font-size:2.5rem;
      

  }
  /* raindbow background square*/
  .container div {
    padding:.3rem;
    margin:.5rem;
    height: 30vh;
    width: 55vw;
  }


        body > div.container{
          display:flex;
          flex-direction:column;
          justify-content: center;
          align-items:center;
        }
        /* Button bars area*/
        body > div.container.container-1 {
          width:100%;
          height:20%;
        }
        /* h1s area*/
        body > div.container.container-1 > div#blank {
          width:100%;
          height:20%;
        }
        /* Makes space between name and button bar*/
      body > div.container.container-1 > div#blank > h1.hr{
      
        margin:.5rem .5rem .5rem 2.5rem;
        font-size:4.5rem;
        
        }

      /*Defaults on the outside*/

        .container-1 {
          display:flex;
          flex-direction:row;
          justify-content: center;
          align-items:center;
        }


        
        
        .item-1 {
          font-size: 4rem;
            text-align: center;
            background: linear-gradient(
              to bottom, 
              #3abfe7 0%, 
              #cf2365 50%, 
              #c92096 50%, 
              #b6701e 100%
            );
        }
        
        html > body> div.container.container-1 > div.item-1 button:hover{
          height:50px;
          width:100px;
          background: linear-gradient(
                to bottom, 
                #87f10cd2 5%, 
              #05f805 50%, 
              #0ddb0d 50%, 
              #0aec83 100%
              );
            color:white;
              
          font-size: medium;
        }
        
        
        /* the actual button */
        
        div.item-1 button{
            height:50px;
            width:100px;
            background: linear-gradient(
                  to bottom, 
                  #d3d33e 0%, 
                  #af671f 50%, 
                  #b6701e 50%, 
                  #b6701e 100%
                );
            font-size: x-large;
            
          }
        
/* Begin 260 px height in 400px height */
        @media screen and (max-height: 260px){
           /* Makes space between name and button bar*/
   html> body > div.container.container-1 > div#blank > h1.hr{
      
    margin:.5rem .5rem .5rem 2.5rem;
    font-size:2rem;
    

}
 
 /* raindbow background square*/
 .container div {
  padding:.1rem;
  margin:.3rem;
  height: 60vh;
  width: 55vw;
}


      
      
      
      
      
      html > body> div.container.container-1 > div.item-1 button:hover{
        height:50px;
        width:100px;
        background: linear-gradient(
              to bottom, 
              #87f10cd2 5%, 
            #05f805 50%, 
            #0ddb0d 50%, 
            #0aec83 100%
            );
          color:white;
            
        font-size: medium;
      }
      
      
      /* the actual button */
      
      html > body> div.container.container-1 > div.item-1 > button{
          height:4rem;
          width:11rem;
          background: linear-gradient(
                to bottom, 
                #d3d33e 0%, 
                #af671f 50%, 
                #b6701e 50%, 
                #b6701e 100%
              );

          
        }


        html > body> div.container.container-1 > div.item-1 > button > a{
          height:100%;
          width: 100%;
          font-size:2rem;
            background: linear-gradient(
                  to bottom, 
                  #d3d33e 0%, 
                  #af671f 50%, 
                  #b6701e 50%, 
                  #b6701e 100%
                );

            
          }


} /* End 260px height*/


}/* End @media phone 500*/
    /* End breakpoints */


    
.container-1 {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
}


.item-1 {
  font-size: 4rem;
    text-align: center;
    background: linear-gradient(
      to bottom, 
      #3abfe7 0%, 
      #cf2365 50%, 
      #c92096 50%, 
      #b6701e 100%
    );
}

html > body> div.container.container-1 > div.item-1 button:hover{
  height:50px;
  width:100px;
  background: linear-gradient(
        to bottom, 
        #87f10cd2 5%, 
      #05f805 50%, 
      #0ddb0d 50%, 
      #0aec83 100%
      );
    color:white;
      
  font-size: medium;
}


/* the actual button */

div.item-1 button{
    height:50px;
    width:100px;
    background: linear-gradient(
          to bottom, 
          #d3d33e 0%, 
          #af671f 50%, 
          #b6701e 50%, 
          #b6701e 100%
        );
    font-size: x-large;
    
  }



  .container1 {
      
    margin: 30px 0;
    height: 200px;
    background: linear-gradient(
      to bottom, 
      #dfd0dad2 5%, 
      #af9e9a 50%, 
      #a79394 50%, 
      #524748 100%
    );
    
  
  }
  
/* End Container 1 top section of page */
  
/* After h2*/

      

      .container1 .item-2 {
        border: 2px solid black;
        height: 255px;
        width: 150px;
      }

      .container .item-2 {
        border: 2px solid black;
        height: 255px;
        width: 150px;
      }
      
      .container .item-3 {
        border: 2px solid black;
        height: 150px;
        width: 180px;
        
      }
      
      
      .container1 .item-3 {
        border: 2px solid black;
        height: 150px;
        width: 180px;
        
      }
      
      
      
      .item-2 {
        font-size: 2rem;
          text-align: center;
        background-color: slategray;
      
      }



      /*The bottom div with contactme */
      
      #cD{
        color:blue;
      }



      .item-3 {
        font-size: 4rem;
          text-align: center;
        background-color: lavender;
        position: absolute;
      }
      
     
      
    

    
      
      .container-2 {
        display:flex;
        justify-content: space-evenly;
        justify-content: center;
        align-items:center;
      }
      
      
  


  


     
