html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:#4F4F;
    background-color:#FBFFFB;
    font-family:'Bebas Neue', 'cursive';
}
h1,h2 {
    letter-spacing:3px;
    text-align:center;
}
h1{
    font-size:5rem;
}
h2{
    font-size:4rem;
}
a{
    text-decoration:none;
    color:red;

}
section{
    padding: 4% 0%;
}
header{
    height:80vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    text-align:center;
}
h1{
    text-align:center;
    color:white;
    background-color: black;
}
nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    position:fixed;
    background-color:black
}
#Top{
    display:flex;
    justify-content:flex-end;
    padding:20% 0;
}
#Top div{
    width:20%;
}
#Photos{
    display:flex;
    text-align:center;
}
.firstpic{

}
.secondpic{

}
.thirdpic{

}
.fourthpic{

}
.fifthpic{

}
footer{
    padding:4% 0%;
}
