.flex-container{
    
    margin:auto;
    
}

.flex-container1 {
    display: inline-block;
    padding-top: 30px;
    margin-right: 10px; 
    justify-content: center;
    flex-direction: row;
}

nav {

}

button {
    padding:2px;
    margin: 1px;
    width: 70px;
}

div.headliner{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    
}

div.maincontainer{
    display: flex;
    
       
}

.flex-container1 > div {
  
    margin: 10px;
    border:solid red 5px;
    justify-content: center;
    text-align: center;
}

div.imdb {
   
 padding: 50px;

}
footer {
    display: block;
    width: 100%;
    height: 200px;
   padding: 200px;
    text-align: center;
    background-color:#CE93D8 ;
    font-size:20px;
    }

    footer>button.foot {
       
        padding:10px;
    }